<p id="notice"><%= notice %></p>

<%= image_tag (@company_image.logo.url), class: 'logo-img-lg m-2' %>

<%= link_to 'Edit', edit_company_image_path(@company_image) %> |
<%= link_to 'Back', company_images_path %>
